REACT_APP_KDA_CHAIN_ID = 0
REACT_APP_KDA_PRECISION = 12
REACT_APP_KDA_NETWORK_ID = testnet04
REACT_APP_KDA_FEE = 0.003
REACT_APP_KDA_NETWORK = https://api.testnet.chainweb.com/chainweb/0.0/$REACT_APP_KDA_NETWORK_ID/chain/$REACT_APP_KDA_CHAIN_ID/pact

REACT_APP_TORUS_NETWORK= ""
REACT_APP_TORUS_VERIFIER = ""
REACT_APP_TORUS_GOOGLE_CLIENT_ID = ""